*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
}

/* Images stuffs */
img#logo {
    width: 60px;
    height: auto;
}

img.small {
    width: 40px;
    height: 40px;
}

img.big {
    width: 60px;
    height: 60px;
}

img[src$=".svg"] {
    width: 25px;
    height: 25px;
}

img {
    border-radius: 50%;
}

/* Layout Stuffs*/

/* Left */
#container {
    display: flex;
}

#left-sub-container {
    flex-basis: 20%;
    display: grid;
    grid-template-rows: 150px 300px 1fr;
    padding-left: 10px;
    background-color: rgb(6, 138, 221);
    font-weight: bold;
    align-items: center;
}

#logo-container {
    justify-self: start;
    display: flex;
    align-items: center;
}

.navigation-container {
    display: flex;
    flex-direction: column;
}

.navigation-container>div {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

/* Right */
#right-sub-container {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
}

#header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

#header>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header div#small-profile {
    justify-content: center;
    gap: 30px;
}

#header div#search-bar {
    gap: 5px;
    align-items: start;
}

#search-bar input {
    width: 80%;
    padding: 5px 10px;
    height: 60%;
    border: none;
    border-radius: 20px;
    background-color: rgb(239, 236, 236);
}

#header-buttons {
    justify-content: space-evenly;
}

button.blue-bg {
    background-color: rgb(6, 138, 221);
    /* color: white; */
    font-weight: 600px;
    width: 70px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
}

#main {
    display: flex;
    background-color: rgb(239, 236, 236);
}

#main-left {
    flex-basis: 70%;
    padding: 20px;
}

#main-right {
    flex-basis: 30%;
    padding: 20px;

}

#main-left .grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: 200px;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

#main-left .grid>div {
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-left: 6px solid rgb(206, 22, 120);
    color: rgba(0, 0, 0, 0.7);
}

.grid div.buttons>button {
    background-color: inherit;
    border: none;
}

div.buttons {
    display: flex;
    gap: 20px;
    align-self: flex-end;
}

#main-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#main-right>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#announcements,
#trending {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.7);
}

#announcements>div:not(:last-child) {
    padding: 10px;
    border-bottom: 1px solid rgb(198, 196, 196);
}

#trending>div {
    background-color: #fff;
    display: flex;
    gap: 5px;
}



/* Head tags */
h1 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
    margin-bottom: 6px;
}

h4 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

#left-sub-container p {
    font-size: 1.2rem;
}